// src/components/Footer/Footer.scss

.footer {
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    position: relative; /* Changed from fixed to relative */
}
