// src/components/TextBox/TextBox.scss

.text-box {
    width: 75%;
    height: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px; /* Add padding to prevent text from touching the edges */
    margin-top: 25px;
}

.text-box-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Evenly space out the list items */
    flex-grow: 1; /* Take up the remaining space */
}

.text-box-list li {
    flex: 1; /* Ensure each list item takes up equal space */
    display: flex;
    align-items: center; /* Center align text vertically */
    font-size: 1.2rem; /* Increase font size for better readability */
    line-height: 1.6; /* Increase line height for better readability */
    margin-bottom: 30px; /* Increase margin between list items */
}
