// src/pages/PageFive/PageFive.scss

.page-five {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: calc(100vh - 20vh - 5vh);
    box-sizing: border-box;
  }
  
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .header-fixed-height {
    height: 5vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-style: italic;
  }
  