/* Global reset in src/index.css or src/App.scss */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

/* src/App.scss */

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative; /* Ensure relative positioning */
  overflow-y: auto; /* Allow vertical scrolling if needed */
}

.stacked-pages {
  width: 100%;
  flex-grow: 1;
  position: relative;
}

.footer {
  position: relative;
  width: 100vw;
}
