// src/components/FigureBox/FigureBox.scss

.figure-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 33%;
    height: 100%;
    border-bottom: 1px solid gray;
}

.figure-box-title {
    font-size: 1.4rem;
}

.figure-box-data {
    font-size: 1.6rem; /* Larger font size */
    font-weight: bold; /* Bold text */
}
