// src/pages/PageFour/PageFour.scss

.page-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 20vh;
  }
  
  .figure-box-container {
    display: flex;
    width: 75%;
    height: 80%;
  }
  